.screen-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.vertical-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.font {
	text-align: center;
}

.hor-sep {
	margin-top: 5px;
	margin-bottom: 5px;
}

#loginpage {
	/*display: none;*/
}

#registrationpage {
	display: none;
}

#chatpage {
	display: none;
}

input[type=text] {
	min-width: 280px;
}

.pagegoaway {
	animation-name: anim-pagegoaway;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.pagecomein {
	animation-name: anim-pagecomein;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

.scrollable-text {
	width: 280px;
	height: 200px;
	overflow: auto;
}

@keyframes anim-pagegoaway {
	0% {left:50%; opacity: 100}
	85% {opacity: 0}
	100% {left: 100%;}
}

@keyframes anim-pagecomein {
	0% {left: 0%; opacity: 0}
	85% {opacity: 100}
	100% {left:50%; opacity: 100}
}